/* Normal styles for the custom table */
.custom-table {
  width: 100%;
  overflow-x: auto;
}

.custom-table th,
.custom-table td {
  padding: 8px;
  border: 1px solid #ccc;
}

/* Media query for screens with a maximum width of 768px (phones) */
@media (max-width: 768px) {
  .custom-table {
    display: block;
  }

  .custom-table thead {
    display: none;
  }

  .custom-table tbody,
  .custom-table tr,
  .custom-table td {
    display: block;
    width: 100%;
  }

  .custom-table td {
    /* Optional: Add some spacing between items in the list */
    margin-bottom: 10px;
  }
}

.rowz {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  /* Add any other styling for the row if needed */
}